@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #00a6a9;
    --black: #000;
    --white: #fff;
    --text-color: #333;
}
svg.toast-icon{
    display: none;
}
textarea {
    resize: none;
    padding-left: 5px;
}
.react-calendar {
    width: 92%;
}
input {
    padding-left: 5px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 1.6 rem;
    line-height: 1.5;
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    margin: 0px;
}
